<p-panel header="Basic Pipes" class="m-2">
    <p>Pipes included in Angular. Usually in the common module.</p>
</p-panel>

<div class="grid m-2">

        <div class="col-12 md:col-4">
            <p-card header="Uppercase">
                {{ nameLower | uppercase }}
            </p-card>
        </div>
        
        <div class="col-12 md:col-4">
            <p-card header="Lowercase">
                {{ nameUpper | lowercase }}
            </p-card>
        </div>

        <div class="col-12 md:col-4"> 
            <p-card header="Titlecase">
               <p>{{ nameUpper | titlecase }}</p>
            </p-card>
        </div>

        <div class="col-12 md:col-6">
            <p-card header="Date Pipes">
                
                <ol>
                    <li>Date</li>
                    <li>Date | date</li>
                    <li>Date | date:'short'</li>
                    <li>Date | date:'long'</li>
                    <li>Date | date: 'MMMM'</li>
                    <li>Date | date: 'MMMM dd yy'</li>
                </ol>
                <hr>
                <ol>
                    <li>Date | date:'long': 'GMT-6'</li>
                    <li>Date | date:'long': 'GMT-4'</li>
                    <li>Date | date:'long':'':'es-AR'</li>
                    <li>Date | date:'long':'':'en-WS'</li>
                </ol>
            </p-card>
        </div>

        <div class="col-12 md:col-6">
            <p-card header="Pipe Result">
                <ol>
                    <li>{{ customDate }}</li>
                    <li>{{ customDate | date }}</li>
                    <li>{{ customDate | date:'short' }}</li>
                    <li>{{ customDate | date:'long' }}</li>
                    <li>{{ customDate | date:'long' }}</li>
                    <li>{{ customDate | date:'MMMM'}}</li>
                    <li>{{ customDate | date:'MMMM dd yyy'}}</li>
                </ol>
                <hr>
                <ol>
                    <li>{{ customDate | date:'long':'GMT-6'}}</li>
                    <li>{{ customDate | date:'long':'GMT-4'}}</li>
                    <li>{{ customDate | date:'long':'':'es-AR'}}</li>
                    <li>{{ customDate | date:'long':'':'en-WS'}}</li>
                </ol>
            </p-card>
        </div>
</div>
