<p-panel header="Customized Pipes" class="m-2">
    <p>Pipes I have created</p>
</p-panel>

<div class="grid m-2">

        <div class="col-12 md:col-4">
            <p-card header="Custom Uppercase Pipe">
                {{ name | toggleCase}}
            </p-card>
        </div>

        <div class="col-12 md:col-4">
            <p-card>
                
            </p-card>
        </div>

        <div class="col-12 md:col-4">
            <p-card>
                
            </p-card>
        </div>
</div>

